@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center align-content-center" style="">
	<h1 class="display-4 text-center" style="border-bottom: 3px dashed #151750;">
		285e Groupe Scouts des Apôtres
	</h1>
</div>


<section class="section-products">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-8 col-lg-6">
				<div class="header">
					<h3>Featured Product</h3>
					<h2>Popular Products</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div id="product-1" class="single-product">
					<div class="part-1">
						<ul>
							<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
							<li><a href="#"><i class="fas fa-heart"></i></a></li>
							<li><a href="#"><i class="fas fa-plus"></i></a></li>
							<li><a href="#"><i class="fas fa-expand"></i></a></li>
						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">T-Shirt</h3>
						<h4 class="product-price">$49.99</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div id="product-2" class="single-product">
					<div class="part-1" style="border-radius:100%; border:2px dashed black; width: 100%;  height: 0; padding-top: 100%;">
						<span class="discount">15% off</span>
						<ul style="text-align:center">
							<li></li>
							<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
							<li><a href="#"><i class="fas fa-plus"></i></a></li>
						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Here Product Title</h3>
						<h4 class="product-price">$49.99</h4>
					</div>
				</div>
            </div>
			
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div id="product-3" class="single-product">
					<div class="part-1">
						<ul>
							<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
							<li><a href="#"><i class="fas fa-heart"></i></a></li>
							<li><a href="#"><i class="fas fa-plus"></i></a></li>
							<li><a href="#"><i class="fas fa-expand"></i></a></li>
						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Here Product Title</h3>
						<h4 class="product-old-price">$79.99</h4>
						<h4 class="product-price">$49.99</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div id="product-4" class="single-product">
					<div class="part-1">
						<span class="new">new</span>
						<ul>
							<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
							<li><a href="#"><i class="fas fa-heart"></i></a></li>
							<li><a href="#"><i class="fas fa-plus"></i></a></li>
							<li><a href="#"><i class="fas fa-expand"></i></a></li>
						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Here Product Title</h3>
						<h4 class="product-price">$49.99</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div id="product-1" class="single-product">
					<div class="part-1">
						<ul>
							<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
							<li><a href="#"><i class="fas fa-heart"></i></a></li>
							<li><a href="#"><i class="fas fa-plus"></i></a></li>
							<li><a href="#"><i class="fas fa-expand"></i></a></li>
						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Here Product Title</h3>
						<h4 class="product-old-price">$79.99</h4>
						<h4 class="product-price">$49.99</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div id="product-2" class="single-product">
					<div class="part-1">
						<span class="discount">15% off</span>
						<ul>
							<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
							<li><a href="#"><i class="fas fa-heart"></i></a></li>
							<li><a href="#"><i class="fas fa-plus"></i></a></li>
							<li><a href="#"><i class="fas fa-expand"></i></a></li>
						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Here Product Title</h3>
						<h4 class="product-price">$49.99</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div id="product-3" class="single-product">
					<div class="part-1">
						<ul>
							<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
							<li><a href="#"><i class="fas fa-heart"></i></a></li>
							<li><a href="#"><i class="fas fa-plus"></i></a></li>
							<li><a href="#"><i class="fas fa-expand"></i></a></li>
						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Here Product Title</h3>
						<h4 class="product-old-price">$79.99</h4>
						<h4 class="product-price">$49.99</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div id="product-4" class="single-product">
					<div class="part-1">
						<span class="new">new</span>
						<ul>
							<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
							<li><a href="#"><i class="fas fa-heart"></i></a></li>
							<li><a href="#"><i class="fas fa-plus"></i></a></li>
							<li><a href="#"><i class="fas fa-expand"></i></a></li>
						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Here Product Title</h3>
						<h4 class="product-price">$49.99</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>