@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center align-content-center" style="">
	<h1 class="display-4 text-center " >
		285e Groupe Scouts des Apôtres
	</h1> 
</div>
<div class="pt-2" style="background-color:whitesmoke">
	<img src="~/images/horaire.png" class="w-30" style="display: block;margin-left: auto;margin-right: auto;width:30%;" />
</div>
<div class="text-center mt-3">
    <h2>Nos activités</h2>
	<iframe style="display: block;margin-left: auto;margin-right: auto;" src="https://www.instagram.com/285sda/embed" width="400" height="480" frameborder="0" scrolling="no" allowtransparency="true"></iframe>

</div>
<section class="section-products">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-8 col-lg-6">
				<div class="header">
					<h2>Nos unités</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Single Product -->

			<div class="col-sm text-center">
                <h6>Castors</h6>
				<img src="~/images/logo castors.png" class="w-50" style="display: block;margin-left: auto;margin-right: auto;" />
			</div>
			<div class="col-sm text-center">
				<h6>Louveteaux</h6>
				<img src="~/images/loup_500px.png" class="w-50" style="display: block;margin-left: auto;margin-right: auto;" />
			</div>
			<div class="col-sm text-center">
                <h6>Aventuriers</h6>
				<img src="~/images/logo aventuriers.png" class="w-50" style="display: block;margin-left: auto;margin-right: auto;" />
			</div>
		</div>
    </div>
</section>